#form-login input {
    width: 55%;
    height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--colorIsWhiteOrBlack);
    background-color: transparent;
    border: 1px solid var(--colorIsWhiteOrBlack);
}

#form-login input::placeholder {
    color: var(--colorIsWhiteOrBlack);
}

#form-login input:focus {
    color: var(--color);
    background-color: var(--colorIsWhiteOrBlack);
    border: 2px solid var(--color);
}

#form-login input:focus::placeholder{
    color: var(--color);
}

#form-login button[type=submit] {
    color: var(--color);
}


#form-login button[type=submit]:hover {
    background-color: transparent;
    border: 1px solid var(--colorIsWhiteOrBlack);
    color: var(--colorIsWhiteOrBlack);
}