.album {
    -webkit-box-shadow: 0px 0px 23px -3px rgba(255,255,255,0.57); 
    box-shadow: 0px 0px 5px -3px;

}
.album-info {
    overflow: hidden;
    transition: 1.5s ease;
    transform: translateY(15px);
    opacity: 0;
}

.album:hover .album-cover{
    opacity: 30%;
    transition: 1.5s ease;
}

.album:hover .album-info{
    transform: translateY(-3px);
    opacity: 100%;
}