@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    color: whitesmoke;

    --colorIsWhiteOrBlack: white;
    --color: #fff;
}

