.search-field {
    padding: 0px 50px 0px 50px;
    color: var(--color);
    background-color: var(--colorIsWhiteOrBlack);
    opacity: 90%;
    box-sizing: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.search-field::placeholder {
    font-family: 'Bebas Neue', cursive;
    color: var(--color);
    font-size: 2rem;
}

.search-field:focus::placeholder {
    color: var(--color);
}