@media only screen and (max-width: 576px) {
    #header-mobile {
        display: flex !important;
    }

    #header-desktop {
        display: none !important;
    }

    #footer-mobile {
        display: flex !important;
    }

    #footer-desktop {
        display: none !important;
    }

    #filter-from-products {
        height: auto !important;
        width: auto !important;
        gap: 2vh !important;
    }

}

@media only screen and (max-width: 768px) {
    #header-mobile {
        display: flex !important;
    }

    #header-desktop {
        display: none !important;
    }

    #footer-mobile {
        display: flex !important;
    }

    #footer-desktop {
        display: none !important;
    }

    #filter-from-products {
        height: 10vh !important;
        width: auto !important;
        gap: 2vh !important;
    }
}

@media only screen and (max-width: 992px) {

    #header-mobile {
        display: flex !important;
    }

    #header-desktop {
        display: none !important;
    }

    #footer-mobile {
        display: flex !important;
    }

    #footer-desktop {
        display: none !important;
    }

    #filter-from-products {
        height: 5vh !important;
        width: 40vh !important;
        gap: 2vh !important;
    }
}

@media only screen and (max-width: 1200px) {
    #header-mobile {
        display: none;
    }

    #header-desktop {
        display: flex;
    }

    #footer-mobile {
        display: none;
    }

    #footer-desktop {
        display: flex;
    }
}

@media only screen and (max-width: 1400px) {
    #header-mobile {
        display: none;
    }

    #header-desktop {
        display: flex;
    }

    #footer-mobile {
        display: none;
    }

    #footer-desktop {
        display: flex;
    }
}