@media only screen and (max-width: 576px) {
    #header-mobile {
        display: flex !important;
    }

    #header-desktop {
        display: none !important;
    }

    #footer-mobile {
        display: flex !important;
    }

    #footer-desktop {
        display: none !important;
    }

    #filter-from-products {
        height: auto !important;
        width: auto !important;
        gap: 2vh !important;
    }

    #card-registration {
        height: 88% !important;
    }
}

@media only screen and (max-width: 768px) {
    #header-mobile {
        display: flex !important;
    }

    #header-desktop {
        display: none !important;
    }

    #footer-mobile {
        display: flex !important;
    }

    #footer-desktop {
        display: none !important;
    }

    #filter-from-products {
        height: 10vh !important;
        width: auto !important;
        gap: 2vh !important;
    }
}

@media only screen and (max-width: 992px) {

    #header-mobile {
        display: flex !important;
    }

    #header-desktop {
        display: none !important;
    }

    #footer-mobile {
        display: flex !important;
    }

    #footer-desktop {
        display: none !important;
    }

    #filter-from-products {
        height: 5vh !important;
        width: 40vh !important;
        gap: 2vh !important;
    }

    #banner-login {
        width: 100% !important;
        height: 35% !important;
        border-radius: 0 0px 25px 25px !important;
    }

    #card-login {
        width: 100% !important;
        height: 65% !important;
    }

    #card-forgot-password {
        width: 80% !important;
        padding: 1rem !important;
    }

    #card-registration {
        width: 87% !important;
    }

    #customer-password-field{
        flex-direction: column !important;
        height: 11.5vh !important;
        gap: 0.5rem !important;
    }

    #customer-password-field #password-container {
        width: 99% !important;
    }

    #customer-password-field #confirm-password-container {
        width: 99% !important;
    }
}

@media only screen and (max-width: 1200px) {
    #header-mobile {
        display: none;
    }

    #header-desktop {
        display: flex;
    }

    #footer-mobile {
        display: none;
    }

    #footer-desktop {
        display: flex;
    }
}

@media only screen and (max-width: 1400px) {
    #header-mobile {
        display: none;
    }

    #header-desktop {
        display: flex;
    }

    #footer-mobile {
        display: none;
    }

    #footer-desktop {
        display: flex;
    }
}


@media screen and (max-height: 1400px) {
    #SwiperListCartItem {
        max-height: 75vh !important;
    }
}

@media screen and (max-height: 1200px) {
    #SwiperListCartItem {
        max-height: 74vh !important;
    }
}

@media screen and (max-height: 992px) {
    #SwiperListCartItem {
        max-height: 70vh !important;
    }
}

@media screen and (max-height: 850px){
    #SwiperListCartItem {
        max-height: 67vh !important;
    }
}

@media screen and (max-height: 750px){
    #SwiperListCartItem {
        max-height: 64vh !important;
    }
}

@media screen and (max-height: 600px){
    #SwiperListCartItem {
        max-height: 62.5vh !important;
    }
}

