@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #020202;
    color: whitesmoke;

    --colorIsWhiteOrBlack: black;
    --color: #000;
    --color-rgba: rgba(0,0,0,1);
}

