.selected {
    color: var(--colorIsWhiteOrBlack);
    background-color: var(--color);
    border-radius: 10px 10px 0px 0px;
}

.format-option:hover:not(.selected){
    background-color: rgb(10, 10, 10);
    border-radius: 10px 10px 0px 0px;
}